export PROJECT_NAME="0-core"
export PROJECT_VERSION="9.9.0"
PATH_add ./scripts
PATH_add ./target/release
export EDITOR=nvim
export VISUAL=nvim
export GIT_AUTHOR_NAME="christian"
export GIT_COMMITTER_NAME="christian"
export CORE_DEV=true
