[Unit]
Description=Daily Faelight Security Audit
Wants=security-audit.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
